h1 {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 40px;
}
h2 {
    font-family: Optima, sans-serif;
    font-size: 25px;
}
h3 {
    font-family: Optima, sans-serif;
    font-size: 25px;
}
h4 {
    font-family: Optima, sans-serif;
    font-size: 25px;
}
h5 {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 40px;
}
.e211 {
   font-size: 20px;
    font-family: Optima, sans-serif;
} 
.e211c {
    font-size: 20px;
    font-family: Optima, sans-serif;
}
.e212 {
    font-size: 20px;
    font-family: Optima, sans-serif;
}
.e213 {
    font-size: 20px;
    font-family: Optima, sans-serif;
}
h6 {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 40px;
}



